* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
 font-family: Arial, sans-serif;
 line-height: 1.8;
}
.container {
  width: 60%;
  margin: 0 auto;
  padding: 2rem;          
}
header {
  height: 15vh;
  font-size: 2rem;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(90deg,rgba(127, 127, 173, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  margin-bottom: 1rem;
}
.layout-section {
   display: flex;
   margin-bottom: 2rem;
}
.sidebar {
    width: 20%;
    height: 100vh;
    font-size: 1rem;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 1rem;
}
.sidebar ul li{
   list-style-type: none;
}
.main-content {
   width: 80%;
   padding: 1rem;
   background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
.main-content h2{
  text-align: center;
}
.cards-section {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   margin-bottom: 2rem;
}
.card {
   width: calc(33.33% - 0.67rem);
   height: auto;
   min-height: 30vh;
   padding: 1rem;
   margin-bottom: 2em;
   background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
   border-radius: 4px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   display: flex;
   flex-direction: column;
}
.card-content {
   flex: 1;
}
.card-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.card-btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin-top: 1rem;
}
.card-btn:hover {
  background-color: #0056b3;
}
footer {
  height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #EDD83D;
  margin-top: 1rem;
}
footer p{
  font-weight: bold;
  font-size: 45px;
}
@media screen and (max-width: 768px) {
.container {
  width: 100%;
  padding: 1rem;
}
.sidebar {
  display: none;
}
.main-content {
  width: 100%;
}
.card { 
 width: 100%;
}
body {
   font-size: 14px;
}
header {
  font-size: 1.5rem;
}
}